<template>
  <div class="ml-n4 mr-n4">
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1 mt-12">{{ $t("Pages.Company.text1.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Company.text1.text") }}</p>
    </v-container>
    
    <v-container
      class="mx-auto home-container">
      <v-img
        class="mb-12"
        src="../assets/p273456.jpeg"
        style="width: 60%;">
      </v-img>
      <p class="grey--text headline">{{ $t("Pages.Company.text2.text") }}</p>
      <p class="grey--text display-1">{{ $t("Pages.Company.text3.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Company.text3.text") }}</p>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1 mt-12">{{ $t("Pages.Company.text3.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Company.text3.text") }}</p>
    </v-container>
        <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1 mt-12">{{ $t("Pages.Company.text4.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Company.text4.text") }}</p>
    </v-container>
  </div>
</template>
<style>
.home-container {
  max-width: 790px;
}
.featured-image {
  width: 100%;
}
.home {
  padding-left: 10%;
  padding-right: 10%;
}
</style>
<script>
export default {
  metaInfo: {
    titleTemplate: '%s - Über uns',
    htmlAttrs: {
      lang: "de",
      amp: true
    }
  },
  data () {
    return {
      loading: true,
      transition: 'scale-transition'
    }
  }
}
</script>
