<template>
  <div class="ml-n4 mr-n4">
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1">{{ $t("Pages.Benefit.text1.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Benefit.text1.text") }}</p>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <v-img src="../assets/mechSingleIcon.svg" width="60" style="margin-left: 45%;"></v-img>
      <p class="grey--text display-1 mt-12">{{ $t("Pages.Benefit.text2.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Benefit.text2.text") }}</p>
    </v-container>
        <v-container
      class="mx-auto home-container">
      <v-img src="../assets/mechSingleIcon.svg" width="60" style="margin-left: 45%;"></v-img>
      <p class="grey--text display-1 mt-12">{{ $t("Pages.Benefit.text3.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Benefit.text3.text") }}</p>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <v-img src="../assets/mechSingleIcon.svg" width="60" style="margin-left: 45%;"></v-img>
      <p class="grey--text display-1 mt-12">{{ $t("Pages.Benefit.text4.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Benefit.text4.text") }}</p>
    </v-container>
  </div>
</template>
<style>
.home-container {
  max-width: 790px;
}
.featured-image {
  width: 100%;
}
.home {
  padding-left: 10%;
  padding-right: 10%;
}
</style>
<script>
export default {
  metaInfo: {
    titleTemplate: '%s - Ihr Nutzen',
    htmlAttrs: {
      lang: "de",
      amp: true
    }
  },
}
</script>
