<template>
  <div class="ml-n4 mr-n4">
    <v-container
      class="mx-auto home-container">
      <v-img
        class="mb-12"
        src="../assets/logoAndTypo-01.svg">
      </v-img>

      <p class="grey--text display-1 pt-12 my-12">{{ $t("Pages.Contact.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Contact.Data.company") }}</p>
      <p class="grey--text headline">{{ $t("Pages.Contact.Data.address") }}</p>
      <p class="grey--text headline mb-12"><span>{{ $t("Pages.Contact.Data.zip") }} {{ $t("Pages.Contact.Data.city") }}</span></p>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <p class="grey--text headline mt-12">{{ $t("Pages.Contact.Data.Phone.title") }}<span v-html="$t('Pages.Contact.Data.Phone.text')"></span></p>
      <p class="grey--text headline">{{ $t("Pages.Contact.Data.Mobile.title") }}<span v-html="$t('Pages.Contact.Data.Mobile.text')"></span></p>
      <p class="grey--text headline">{{ $t("Pages.Contact.Data.Email.title") }}<span v-html="$t('Pages.Contact.Data.Email.text')"></span></p>
      <p class="grey--text headline">{{ $t("Pages.Contact.Data.Skype.title") }}<span v-html="$t('Pages.Contact.Data.Skype.text')"></span></p>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <p class="grey--text headline my-12">{{ $t("Pages.Contact.text") }}</p>
    </v-container>
  </div>
</template>
<style>
.home-container {
  max-width: 790px;
}
.featured-image {
  width: 100%;
}
.home {
  padding-left: 10%;
  padding-right: 10%;
}
</style>
<script>
export default {
  metaInfo: {
    titleTemplate: '%s - Kontakt',
    htmlAttrs: {
      lang: "de",
      amp: true
    }
  },
}
</script>
