
<template>
  <div class="ml-n4 mr-n4">
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1">{{ $t("Pages.ClientProjects.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.ClientProjects.text") }}</p>
    </v-container>
    <v-container class="mx-auto home-container">
    <v-row
      class="mb-6"
    >
      <v-col
        v-for="(client, index) in arrayClients()"
        :key="index"
        :cols="4"
      >
        <v-card
          outlined
          color="grey lighten-3"
          min-height="160"
          @click="routeTo(client.route)"
          :ripple="false"
          style="cursor: pointer;"
          class="pt-8">
          <v-img
            class="mx-auto"
            :src="client.logo"
            style="max-width: 100px;"
          />
        </v-card>
      </v-col>
    </v-row>
    </v-container>
  </div>
</template>
<style>
.home-container {
  max-width: 790px;
}
.home {
  padding-left: 10%;
  padding-right: 10%;
}
</style>

<script>
import Data from "../../public/lang/de.json";
/* eslint no-console: ["error", { allow: ["warn", "error", "log"] }] */
  export default {
    metaInfo: {
      titleTemplate: '%s - Kundenprojekte',
      htmlAttrs: {
        lang: "de",
        amp: true
      }
    },
    data () {
      return {
        clients: Data,

      }
    },
    mounted () {
      console.log(this.arrayClients());
    },
    methods: {
      arrayClients () {
        return Object.values(this.clients.Pages.ClientProjects.clients);
      },
      routeTo (route) {
        this.$router.push('/de'+ route);
      }
    }
  };
</script>
