<template>
  <div class="ml-n4 mr-n4">
    <v-container
      class="mx-auto home-container">
      <v-img
        class="mb-12"
        src="../assets/logoAndTypo-01.svg">
      </v-img>
      <p class="grey--text display-1 mb-2"><span v-html="$t('Pages.Home.text1.title')"></span></p>
      <p class="grey--text headline mb-6"><span v-html="$t('Pages.Home.text1.text')"></span></p>
    </v-container>
    <v-skeleton-loader
      :loading="loading"
      :transition="transition"
      height="200"
      type="image"
    >
      <v-img src="../assets/thefloat.png" alt="thefloat" class="featured-image" />
    </v-skeleton-loader>
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1 mb-2"><span v-html="$t('Pages.Home.text2.title')"></span></p>
      <p class="grey--text headline mb-6"><span v-html="$t('Pages.Home.text2.text')"></span></p>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <span v-html="$t('Pages.Home.img2')"></span>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <span v-html="$t('Pages.Home.img3')"></span>
    </v-container>
  </div>
</template>
<style>
.home-container {
  max-width: 790px;
}
.featured-image {
  width: 100%;
}
.home {
  padding-left: 10%;
  padding-right: 10%;
}
</style>
<script>
export default {
  metaInfo: {
    title: "Medical Engineering CH",
    titleTemplate: '%s - Startseite',
    htmlAttrs: {
      lang: "de",
      amp: true
    }
  },
  data () {
    return {
      loading: false,
      transition: "scale-transition"
    }
  }
}
</script>

