<template>
  <div class="ml-n4 mr-n4">
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1 mb-12 pb-12">{{ $t("Pages.Imprint.title") }}</p>
      <p class="grey--text headline mb-12 pb-12">{{ $t("Pages.Imprint.text1.title") }}</p>
      <p class="grey--text subheadline">{{ $t("Pages.Imprint.text1.text") }}</p>

    </v-container>
  </div>
</template>
<style>
.home-container {
  max-width: 790px;
}
.home {
  padding-left: 10%;
  padding-right: 10%;
}
</style>
<script>
export default {
  metaInfo: {
    titleTemplate: '%s - Impressum',
    htmlAttrs: {
      lang: "de",
      amp: true
    }
  }
}
</script>