<template>
  <div class="ml-n4 mr-n4">
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1">{{ $t("Pages.404.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.404.text") }}</p>
    </v-container>
  </div>
</template>

<script>
export default {
    metaInfo: {
      titleTemplate: '%s - 404! Seite nicht auffindbar',
      htmlAttrs: {
        lang: "de",
        amp: true
      }
    },
}
</script>

<style>

</style>