<template>
  <div class="ml-n4 mr-n4">
    <v-container
      class="mx-auto home-container">
      <v-img
        class="mb-12"
        src="../assets/logoAndTypo-01.svg">
      </v-img>

      <p class="grey--text display-1">{{ $t("Pages.OurProjects.text1.title") }}</p>
      <p class="grey--text headline mb-12 pb-12">{{ $t("Pages.OurProjects.text1.text") }}</p>
    </v-container>
    <v-img src="../assets/thefloat.png" alt="thefloat" class="featured-image" />
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1 mb-2"><span v-html="$t('Pages.OurProjects.text2.title')"></span></p>
      <p class="grey--text headline mb-6"><span v-html="$t('Pages.OurProjects.text2.text')"></span></p>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <span v-html="$t('Pages.OurProjects.img1')"></span>
      <p class="grey--text display-1 mt-12">{{ $t("Pages.OurProjects.text3.title") }}</p>
      <p class="grey--text headline">{{ $t("Pages.OurProjects.text3.text") }}</p>
      <v-layout row wrap>
        <v-flex xs12 md6 class="pa-1">
          <span v-html="$t('Pages.OurProjects.img2')"></span>
        </v-flex>
        <v-flex xs12 md6 class="pa-1">
          <span v-html="$t('Pages.OurProjects.img3')"></span>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1 mb-2"><span v-html="$t('Pages.OurProjects.text4.title')"></span></p>
      <p class="grey--text headline mb-6"><span v-html="$t('Pages.OurProjects.text4.text')"></span></p>
    </v-container>
    <v-container
      class="mx-auto home-container">
      <p class="grey--text display-1 mb-12"><span v-html="$t('Pages.OurProjects.linksTitle')"></span></p>
      <v-btn
        v-for="(link, index) in getLinksArray()"
        :href="link.link"
        target="_blank"
        dark
        class="cyan darken-2 mr-4 mb-4"
        :key="index">
        <v-icon left>mdi-link</v-icon>
        <a :href="link.link" target="_blank" />
        {{ link.title }}
      </v-btn>
    </v-container>
  </div>
</template>
<style>
.home-container {
  max-width: 790px;
}
.featured-image {
  width: 100%;
  margin-bottom: 50px;
}
.home {
  padding-left: 10%;
  padding-right: 10%;
}
</style>
<script>
import JsonData from "../../public/lang/de.json"
/* eslint no-console: ["error", { allow: ["warn", "error", "log"] }] */
export default {
    metaInfo: {
      titleTemplate: '%s - Eigene Projekte',
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' }
      ],
      htmlAttrs: {
        lang: "de",
        amp: true
      }
    },
    data () {
      return {
        data: JsonData
      };
    },
    methods: {
      getLinksArray() {
        if (this.$i18n.i18next.language === "de") {
          return this.data.Pages.OurProjects.LinksDE
        }
        else if (this.$i18n.i18next.language === "en")
          return this.data.Pages.OurProjects.LinksEN
      }
    }
}
</script>
