<template>
    <v-container fluid class="px-8">
        <v-row>
            <v-col cols="6">
                <p class="headline">Adresse:</p>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <span class="font-weight-medium">Medicalengineering.ch GmbH</span><br/>
                <span class="grey--text">Oberdorf 134</span> <br/>
                <span class="grey--text">CH-8455 Rüdlingen</span> 
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <span class="grey--text">Mob. +41 (0)79 331 90 20</span><br/>
                <span class="grey--text">Tel. +41 (0) 44 867 06 69</span> <br/>
                <span class="grey--text">mail@l-m-e.ch</span> 
            </v-col>
        
        </v-row>

    </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>