<!-- eslint no-console: ["error", { allow: ["warn", "error", "log"] }] -->
<template>
      <div class="text-center">
    <v-dialog
      @registerForm="registerForm = true"
      v-model="registerForm"
      width="450"
      persistent
    >
     <template v-slot:activator="{ on }">
        <v-btn icon color="grey" dark v-on="on">
            <v-icon>mdi-chat</v-icon>
        </v-btn>
      </template>
      <v-card dark>
            <div class="d-flex justify-end">
                <v-btn icon @click="registerForm = false" class="ma-1"><v-icon>mdi-close</v-icon></v-btn>
            </div>
        <p class="text-center font-weight-thin display-1 py-5">Kontakt</p>
        <v-card-text>
      <v-form 
        ref="form"
        v-model="valid" 
        class="mt-5">
        <v-text-field
          class="signinform"
          v-model="displayName"
          :rules="displayNameRules"
          label="Ihr Name"
          :counter="3"
          required>
        </v-text-field>
        <v-text-field
          class="signinform"
          v-model="email"
          :rules="emailRules"
          label="Ihre E-Mail"
          required>
        </v-text-field>
        <p class="text-center pb-4 orange--text text--lighten-1 caption" v-if="mailerrormessage">
          <v-icon small color="orange lighten-1">
            mdi-alert-circle
          </v-icon>
          {{ mailerrormessage }}
        </p>
        <v-textarea
            label="Ihre Nachricht ..." />
        <p class="text-center pb-4 orange--text text--lighten-1 caption"  v-if="pwerrormessage">
          <v-icon small color="orange lighten-1">
            mdi-alert-circle
          </v-icon>
          {{ pwerrormessage }}
        </p>
      </v-form>
        </v-card-text>
        <v-card-actions class="px-6 pb-4">
          <v-spacer></v-spacer>
          <v-btn text @click="registerForm = false">
            abbrechen
          </v-btn>
          <v-btn color="primary" :loading="loading">
            Absenden
          </v-btn>
        </v-card-actions>
        <v-divider />
        <ContactBlock />
      </v-card>
    </v-dialog>
  </div>
</template>
<style>
  .signinform.error--text,
  .signinform .error--text {
    color: #FFA726 !important;
    caret-color: #FFA726 !important;
  }
</style>
<script>
/*eslint no-console: ["error", { allow: ["warn", "error", "log"] }] */
import ContactBlock from "./ContactBlock"
export default {
    components: {
        ContactBlock
    },
    data: () => ({
      pwerrormessage: "",
      mailerrormessage: "",
      confirmerrormessage: "",
      registerForm: false,
      valid: false,
      password: "",
      confirmPassword: "",
      pwRules: [
        v => !!v || 'You need a valid password!',
        v => v.length >= 4 || 'PW must be have more than 4 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      displayName: "",
      displayNameRules: [
        v => !!v || 'You need a valid display name!',
        v => v.length >= 3 || 'Your name must be have more than 3 characters',
      ],
      loading: false
    }),
    computed: {
      comparePasswords: function () {
        return this.password !== this.confirmPassword ? "Passwords do not match!" : true;
      }
    }
}
</script>