<template>
    <div class="d-flex align-center">
            <p class="grey--text mb-0 mr-2">{{ $root.loggedInUserDisplayName }} </p>
    </div>
</template>
<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
<script>
export default {
    
}
</script>