<template>
    <div
        class="d-flex align-center language-switcher"
        @click.prevent="languageSwitcherClicked()">
        <p class="grey--text mb-0 mr-2">{{ $t('Translation') }}</p>
    </div>
</template>
<style>
.language-switcher {
    cursor: pointer;
}
</style>
<script>
/* eslint no-console: ["error", { allow: ["warn", "error", "log"] }] */
export default {
    methods: {
        languageSwitcherClicked() {
            if (this.$i18n.i18next.language === "en") {
                console.log("sw to DE");
                this.$emit("forceRender");
                this.$i18n.i18next.changeLanguage("de");
                this.$router.push({
                    params: {lang: "de"}
                });
            }
            else if (this.$i18n.i18next.language === "de") {
                console.log("sw to EN");
                this.$emit("forceRender");
                this.$i18n.i18next.changeLanguage("en");
                this.$router.push({
                    params: {lang: "en"}
                });
            }
        }
    }
}
</script>

<style>

</style>