<template>
    <nav class="pb-8">
        <v-navigation-drawer
            width="380"
            dark
            app 
            v-model="drawer" 
            class="cyan darken-2 pa-3"
        >
        <v-list dark nav>
            <v-list-item-group>
                <v-list-item
                    router 
                    :to="`/${this.$i18n.i18next.language}/ `"
                    @click="closeDrawer"
                    >
                    <v-list-item-content>
                        <v-list-item-title
                            class="white--text font-weight-thin display-1">{{ $t('Pages.Home.title') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    router 
                    :to="`/${this.$i18n.i18next.language}/about`"
                    @click="closeDrawer"
                    >
                    <v-list-item-content>
                        <v-list-item-title
                            class="white--text font-weight-thin display-1">{{ $t('Pages.Company.title') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    router 
                    :to="`/${this.$i18n.i18next.language}/offer`"
                    @click="closeDrawer"
                    >
                    <v-list-item-content>
                        <v-list-item-title
                            class="white--text font-weight-thin display-1">{{ $t('Pages.Offer.title') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    router 
                    :to="`/${this.$i18n.i18next.language}/benefit`"
                    @click="closeDrawer"
                    >
                    <v-list-item-content>
                        <v-list-item-title
                            class="white--text font-weight-thin display-1">{{ $t('Pages.Benefit.title') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    router 
                    :to="`/${this.$i18n.i18next.language}/projects`"
                    @click="closeDrawer"
                    >
                    <v-list-item-content>
                        <v-list-item-title
                            class="white--text font-weight-thin display-1">{{ $t('Pages.OurProjects.title') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    router 
                    :to="`/${this.$i18n.i18next.language}/customerprojects`"
                    @click="closeDrawer"
                    >
                    <v-list-item-content>
                        <v-list-item-title
                            class="white--text font-weight-thin display-1">{{ $t('Pages.ClientProjects.title') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    router 
                    :to="`/${this.$i18n.i18next.language}/contact`"
                    @click="closeDrawer"
                    >
                    <v-list-item-content>
                        <v-list-item-title
                            class="white--text font-weight-thin display-1">{{ $t('Pages.Contact.title') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    router 
                    :to="`/${this.$i18n.i18next.language}/imprint`"
                    @click="closeDrawer"
                    >
                    <v-list-item-content>
                        <v-list-item-title
                            class="white--text font-weight-thin headline">{{ $t('Pages.Imprint.title') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

            <v-btn
                fab
                depressed
                class="cyan--text darken-2--text mr-6"
                color="white">
                <v-icon size="35">mdi-phone</v-icon>
            </v-btn>
            <v-btn
                fab
                depressed
                class="cyan--text darken-2--text mr-8"
                color="white">
                <v-icon size="35">mdi-email-outline</v-icon>
            </v-btn>
             <v-btn
                fab
                depressed
                class="cyan--text darken-2--text mr-8"
                color="white">
                <v-icon size="35">mdi-map-marker</v-icon>
            </v-btn>
             <v-btn
                fab
                depressed
                class="cyan--text darken-2--text"
                color="white">
                <v-icon size="35">mdi-share-variant</v-icon>
            </v-btn>
            </v-list-item-group>
        </v-list>
        </v-navigation-drawer>
        <v-app-bar app color="grey lighten-2">
            <v-app-bar-nav-icon app class="grey--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
            <span class="grey--text headline">{{ routeName }}</span>
            <v-spacer></v-spacer>
            <LanguageSwitcher @forceRender="forceRender"/>
        </v-app-bar>
    </nav>
</template>
<style>
    .cursor {
        cursor: pointer;
    }
    .logo {
        margin-top: 15px;
        margin-left: 35px;
        margin-bottom: -40px;
        cursor: pointer;
    }
</style>
<script>
/* eslint no-console: ["error", { allow: ["warn", "error", "log"] }] */
import LanguageSwitcher from "./LanguageSwitcher";
export default {
    components: {
        LanguageSwitcher
    },
    data () {
        return {
            componentKey: 0,
            drawer: false,
            avatar: true
        }
    },
    computed: {
        routeName() {
            if (this.$i18n.i18next.language === "en") {
                if (this.$route.name === "Ihr Nutzen") {
                    return "Benefit";
                }
                else if (this.$route.name === "Angebot") {
                    return "Offer";
                }
                else if (this.$route.name === "Start") {
                    return "Home";
                }
                else if (this.$route.name === "Firma") {
                    return "Company";
                }
                else if (this.$route.name === "Projekte") {
                    return "Our Projects";
                }
                else if (this.$route.name === "Kundenprojekte") {
                    return "ClientProjects";
                }
                else if (this.$route.name === "Kundenprojekte") {
                    return "ClientProjects";
                }
                else if (this.$route.name === "Kontakt") {
                    return "Contact";
                }
                else if (this.$route.name === "Impressum") {
                    return "Imprint";
                }
                else {
                    return this.$route.name;
                }
            }
            return this.$route.name;
        },
        links() {
            return  [
                { text: this.$i18n.t('Pages.Home.title'), route: "/" + this.$i18n.i18next.language + "/", style: "1" },
                { text: this.$i18n.t('Pages.Company.title'), route: "/" + this.$i18n.i18next.language + "/about", style: "1" },
                { text: this.$i18n.t('Pages.Offer.title'), route: "/" + this.$i18n.i18next.language + "/offer", style: "1"  },
                { text: this.$i18n.t('Pages.Benefit.title'), route: "/" + this.$i18n.i18next.language + "/benefit", style: "1"  },
                { text: this.$i18n.t('Pages.OurProjects.title'), route: "/" + this.$i18n.i18next.language + "/projects", style: "1"  },
                { text: this.$i18n.t('Pages.ClientProjects.title'), route: "/" + this.$i18n.i18next.language + "/customerprojects", style: "1"  },
                { text: this.$i18n.t('Pages.Contact.title'), route: "/" + this.$i18n.i18next.language + "/contact", style: "1"  },
                { text: this.$i18n.t('Pages.Imprint.title'), style: "", route: "/de/imprint"  },
            ]
        }
    },
    methods: {
        forceRender() {
            this.componentKey += 1;
            console.log(this.componentKey);
        },
        closeDrawer() {
            this.drawer = false;
        }
    }
}
</script>