<template>
    <div>
      <div class="footer"></div>
      <v-footer
      absolute
      class="font-weight-light footer"
    >
      <v-col
        class="text-center"
        cols="12"
      >
        <span class="grey--text">2019 &copy; - MEDICAL ENGINEERING CH</span>
      </v-col>
    </v-footer>
    </div>
    
</template>

<script>
export default {

}
</script>

<style>
.footer {
  margin-top: 100px;
}
</style>