<template>
  <div class="ml-n4 mr-n4">
      <v-container
        class="mx-auto home-container">
        <v-btn
          class="mb-12"
          icon
          depressed
          @click="backToClientProjects">
          <v-icon>
            mdi-arrow-left
          </v-icon>
        </v-btn>
        <v-img
          :src="$t('Pages.ClientProjects.clients.MD.logo')"
          style="max-width: 160px;"
          class="mb-12"></v-img>
        <p class="grey--text display-1">{{ $t("Pages.ClientProjects.clients.MD.name") }}</p>
        <p class="grey--text headline">{{ $t("Pages.ClientProjects.clients.MD.text") }}</p>
      </v-container>
  </div>
</template>

<script>
export default {
  methods: {
    backToClientProjects() {
      this.$router.push("/de/customerprojects");
    }
  }
}
</script>

<style>

</style>