<template>
  <v-app style="background: #E0E0E0">
    <Navbar />
    <v-content class="mx-4 mt-4">
      <router-view></router-view>
    </v-content>
    <Footer />
  </v-app>
</template>
<style>
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.application {
font-family: 'Varela Round', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    scrollbar-width: none;  /* Firefox */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
    scrollbar-width: none;  /* Firefox */
}
</style>
<script>
/* eslint no-console: ["error", { allow: ["warn", "error", "log"] }] */
import Navbar from "@/components/Navbar"
import Footer from "@/components/TheFooter"
export default {
  metaInfo: {
      title: 'Medical Engineering CH',
      titleTemplate: '%s',
      htmlAttrs: {
        lang: 'de',
        amp: true
      }
    },
  name: 'App',
  components: { Navbar, Footer },
  data() {
    return {
      data: null
    }
  }
};
</script>
